#footer {
  padding: 0 4rem 1.5rem;

  .menu {
    display: flex;
    justify-content: space-evenly;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      text-decoration: none;
      opacity: .5;

      .nav-icon {
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: rgba($white, .3);
        box-shadow: .15rem .15rem .5rem rgba($black, .65);

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &.heart {
            font-size: 1.2rem;
          }

          &.question {
            font-size: .65rem;
          }
        }
      }

      .nav-text {
        font-size: .5rem;
        font-weight: bold;
        margin-top: .5rem;
      }

      &:hover,
      &:active,
      &.active {
        opacity: 1;
      }

      &.active {
        .nav-icon {
          background-color: $white;
          color: $black;
        }
      }
    }
  }
}
