header {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 2rem 0;

  .logo {
    display: flex;
    flex: 1;

    .logo-icon {
      font-size: 1.3rem;
      margin-right: .5rem;
    }

    .logo-texts {
      display: flex;
      flex-direction: column;
      flex: 1;

      .logo-copyright {
        font-size: .3rem;
        font-style: italic;
        margin-bottom: .10rem;

        a {
          color: $primary;
          text-decoration: none;
        }
      }

      .logo-title {
        font-weight: bold;
        width: 100%;
      }
    }
  }

  .window-actions {
    font-size: .95rem;

    button {
      cursor: pointer;
      padding: 0;
      border: none;
      background: none;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
    }
  }
}
