*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  line-height: 1;
  background: radial-gradient($primary 20%, darken($primary, 20%));
  color: $white;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  > div {
    width: 100%;
  }
}
