*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  line-height: 1;
  background: radial-gradient($primary 20%, darken($primary, 20%));
  color: $white;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }

  main {
    height: 100%;
    flex: 1;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba($white, .5);
}
