.app {
  text-align: center;
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh
}

pre.debug {
  display: block;
  margin: 1em;
  padding: 1em;
  text-align: left;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #333;
  color: #bada55;
  max-height: 30em;
  overflow: auto;
  border: .5em solid #bbb;
  border-radius: .25em;
}

button {
  color: white;
  padding: 1rem 3rem;
  margin: 1rem;
  border: none;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
