.app {
  text-align: center;
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh
}

.logo {
  height: 40vmin;
}

header {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  padding: 1rem 3rem;
  margin: 1rem;
  border: none;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
